html {
  font-size: 16px;
}

body {
  min-width: 100%;
  width: 100%;
  margin: 0;
}

.header {
  background-image: url("../assets/images/large/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* The animation code */
@-webkit-keyframes header-animation {
    from {margin-left: -34%;}
    to {margin-left: 0;}
}
@-moz-keyframes header-animation {
    from {margin-left: -34%;}
    to {margin-left: 0;}
}
@-ms-keyframes header-animation {
    from {margin-left: -34%;}
    to {margin-left: 0;}
}
@-o-keyframes header-animation {
    from {margin-left: -34%;}
    to {margin-left: 0;}
}
@keyframes header-animation {
    from {margin-left: -34%;}
    to {margin-left: 0;}
}

header {
  height: $header-height; /* 200px */
  color: black;
  background-color: $header-color;
  background-image: url("../assets/images/large/header.jpg");

  .brand {
    font-family: 'Pacifico', cursive;
    font-size: 4.5vw;;
    line-height: $header-height * 0.7;
    float: left;

    @include prefix((
      animation-name: header-animation,
      animation-duration: 10s
    ))
  }
}

footer {
  height: 20px;
  color: white;
  background-color: $footer-color;
}

.art-reference {
  background-color: black;
  color: white;
  text-decoration: none;
  padding:2px 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  @include border-radius(3px);

  span {
    display:inline-block;
    padding: 0; /* 2px 3px; */

    svg {
      height:12px;
      width:auto;
      position:relative;
      vertical-align:middle;
      top:-1px;
      fill:white;
    }
  }
}

@media only screen and (max-width: 320px) {

}
