html {
  font-size: 16px;
}

body {
  min-width: 100%;
  width: 100%;
  margin: 0;
  background-color: $main-color;
}

.header {
  //@include image("../assets/images/large/header.jpg");
}

/* The animation code */
@-webkit-keyframes header-animation {
  from {margin-left: -34%;}
  to {margin-left: 0;}
}
@-moz-keyframes header-animation {
  from {margin-left: -34%;}
  to {margin-left: 0;}
}
@-ms-keyframes header-animation {
  from {margin-left: -34%;}
  to {margin-left: 0;}
}
@-o-keyframes header-animation {
  from {margin-left: -34%;}
  to {margin-left: 0;}
}
@keyframes header-animation {
  from {margin-left: -34%;}
  to {margin-left: 0;}
}

header {
  height: $header-height;
  min-height: 38px;
  color: black;
  background-color: $header-color;

  .brand {
    font-family: 'Pacifico', cursive;
    font-size: 4.5vw;;
    line-height: $header-height;
    float: left;
    color: $header-text-color;

    @include prefix((
      animation-name: header-animation,
      animation-duration: 10s
    ));
  }
}

.profile-picture {
  @include image("../assets/images/large/profile.jpg");
  width: 13vw; //120px;
  height: 13vw; //120px;
  min-width: 73.5938px;
  min-height: 73.5938px;
  @include rounded();
  @include prefix((
    transform: translate(0%,-50%)
  ));
  margin: 0 auto;
  border: white solid 4px;
  @media only screen and (max-width: 780px) {
    border-width: 2px;
  }
}

footer {
  height: 20px;
  color: white;
  background-color: $footer-color;
}

.flag-br {
  @include flag("br")
}

.flag-de {
  @include flag("de")
}

.centered div {
  margin: 0 auto;
}

@media #{$query-laptop} {
  html {
    font-size: 24px;
  }
}
