@import "../app/components/post-it/post-it";
@import "../app/components/main-nav/main-nav";
@import "../app/controllers/portfolio/portfolio";
@import "../app/controllers/personal/interests";

/* Biography Page */

.biography {
  margin-bottom: 7rem;
}

/* Experience Page */

.lined {
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;

  li { /* each experience item */
    list-style-type: none;
    width: span(12);
    //margin-bottom: 3rem;
    overflow-y: hidden;
    min-height: $experience-circle-size * 1.1;

    .centered {
      width: span(2);
      display: inline-block;

      &:hover div::before,
      &:active div::before {
        transform: scale(1.1);
        opacity: 1;
        transition: .3s opacity ease-in-out, .3s transform ease-in-out;
        position: absolute;
        width: $experience-circle-size;
        height: $experience-circle-size;
        z-index: -1;
        content: ' ';
        box-sizing: border-box;
        display: block;
        background: #FFF;
        border: .2vw solid $tertiary-color;
        border-radius: 100%;
      }
    }

    article {
      width: span(5 wide);
      min-width: span(5 wide);
      max-width: span(5 wide);
      background-color: $box-color;
      @include border-radius(20px);
      padding-left: 5px;
      color: $box-text-color;
      font-size: 1rem;

      h1 {
        color: $box-text-color;
        font-size: 1.5rem;
      }
    }

    &:nth-of-type(odd){
      //background: susy-svg-grid() no-repeat scroll;

      .centered {
        margin-left: span(5 wide);
        //background: susy-svg-grid($colors: (blue)) no-repeat scroll;
      }

      article {
        float: right;
      }
    }

    &:nth-of-type(even){
      article {
        float: left;
      }
    }
  }

  &::before { /* horizontally centered vertical line */
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background: #AAA;
    content: ' ';
    z-index: -3;
  }

  #work-petitcode div div:hover {
    background-image: url("../assets/images/large/petitcode.png");
  }

  #work-virtus div div:hover {
    background-image: url("../assets/images/large/virtus.jpg");
  }

  #bachelor-ufcg div div:hover {
    background-image: url("../assets/images/vectors/ufcg.svg");
    background-size: contain;
  }

  #research-tud div div:hover {
    background-image: url("../assets/images/vectors/tu_dresden.svg");
  }

  #research-lsd div div:hover {
    background-image: url("../assets/images/large/lsd.png");
  }

  #research-splab div div:hover {
    background-image: url("../assets/images/large/splab.png");
  }
}

@media only screen and (max-width: 425px) {
  .lined {
    height: 700px;

    li {
      .centered div {
        position: absolute;
        left: 25%;
        margin: 0 0 20px -21%;
        padding: 0;
      }

      article {
        clear: both;
        min-width: 66.6vw !important;
        display: inline-block;
        margin-top: -10%;
        padding-left: 5px;
        margin-bottom: 10%;
        float: right !important;
        background-color: unset;
        color: unset;
        h1, p {
          font-size: 1rem;
          color: unset;
        }
      }
    }

    &::before { /* left vertical line */
      left: 10%;
    }
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .lined h1, .lined p {
    font-size: 1rem;
  }
}

.article-image {
  height: 60vw;
  width: 82vw;
  max-height:546.391px;
  max-width:746.734px;
  @include border-radius();
  margin: 0 auto;

  &:hover {
    box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
  }
}

/* Work Page */
.work-experience {
  font-size: 1rem;
  margin-bottom: 7rem;

  h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  section {
  }

  .team-picture {
    @extend .article-image;
  }
}

#work-virtus {
  .team-picture {
    @include image("../assets/images/large/team-virtus.jpg");
  }
}

#work-petitcode {
  .team-picture {
    @include image("../assets/images/large/team-petitcode.png");
  }
}

#realtimepco {
  height: 40vw;
  width: 35.95vw;
  @include image("../assets/images/large/splab/realtimepco.png");
  display: inline-block;
}

#realtimepco-diagram {
  height: 41.5vw;
  width: 43.1vw;
  @include image("../assets/images/large/splab/realtimepco_diagram.png");
  display: inline-block;
}

.sparkday-2017-1 {
  height: 28.5vw;
  width: 42vw;
  max-height:546.391px;
  max-width:746.734px;
  @include image("../assets/images/large/team-hp.png");
  display: inline-block;
}

.sparkday-2017-2 {
  width: 30vw;
  height: 44vw;
  max-height:546.391px;
  max-width:746.734px;
  @include image("../assets/images/large/team-hp2.png");
  display: inline-block;
}

.team-picture-flisol {
  height: 60vw;
  width: 82vw;
  max-height:546.391px;
  max-width:746.734px;
  @include border-radius();
  margin: 0 auto;
  margin-bottom: 100px;
  @include image("../assets/images/large/team-2015_flisol.jpg");
}

a:-webkit-any-link {
}

/* Credits Page */
.credits li {
  list-style-type: none;

  div {
    height: 10vw;
    width: 10vw;
    min-width: 100px;
    min-height: 100px;

    @include border-radius(15%)
  }
}

.art-reference {
  background-color: black;
  color: white;
  text-decoration: none;
  padding:2px 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  @include border-radius(3px);

  span {
    display:inline-block;
    padding: 0; /* 2px 3px; */

    svg {
      height:12px;
      width:auto;
      position:relative;
      vertical-align:middle;
      top:-1px;
      fill:white;
    }
  }
}

ul li:not(.soft-card) .icon {
  display: inline-block;
}

.soft-card {
  position: relative;
  float: left;
  width: 24.2256223vw; /* calc(33.3333% - 20px);330.922px; */
  height: 30.7467057vw; /* 420px; */
  background-color: white;
  margin-right: 16px;
  margin-bottom: 50px;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  border-radius: 16px;
  overflow: hidden;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  &:hover {
    box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
  }

  a {
    text-align: center;
    font-size: 1.5rem;
    display: block;
    position: absolute;
    top: 30%;
  }

  .icon {
    display: block;
    margin: auto;
    margin-top: -30px;
    margin-bottom: -30px;
    font-size: 13vw;
  }

}
