/* Color Palettes */
$beach-primary: #588c7e;
$beach-secondary: #f2e394;
$beach-tertiary: #f2ae72;
$beach-quaternary: #d96459;

$shell-primary: #c1946a;
$shell-secondary: #405d27;
$shell-tertiary: #82b74b;
$shell-quaternary: #3e4444;

/* Color Variables */
$primary-color: darken($shell-quaternary, 10);;
$secondary-color: $shell-tertiary;
$tertiary-color: $shell-secondary;
$quaternary-color: $shell-primary;

$header-color: $primary-color;
$header-text-color: $secondary-color;
$main-color: lighten(white, 30);
$main-text-color: lighten($secondary-color, 25);
$footer-color: $header-color;
$footer-text-color: $header-text-color;
$box-color: $primary-color;
$box-text-color: $secondary-color;

$header-height: 7.53125vw;  /* 19.53125vw ~ 200px with image*/

/* Dimensions Variables */
$experience-circle-size: 10vw;
