<nav class="main-nav" role="navigation"><ul>
  <li><a ui-sref-active="active" ui-sref="home">Home</a></li>
  <!--li class="dropdown">
    <a href="" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a ui-sref="home">Link 1</a>
      <a ui-sref="home">Link 2</a>
      <a ui-sref="home">Link 3</a>
      <a ui-sref="home">Link 3</a>
      <a ui-sref="home">Link 3</a>
      <a ui-sref="home">Link 3</a>
      <a ui-sref="home">Link 3</a>
      <a ui-sref="home">Link 3</a>
    </div>
  </li-->
  <li><a ui-sref-active="active" ui-sref="virtus">Work @Virtus</a></li>
  <li><a ui-sref-active="active" ui-sref="petitcode">Work @PetitCode</a></li>
  <li><a ui-sref-active="active" ui-sref="tud">Exchange @ TUD</a></li>
  <li><a ui-sref-active="active" ui-sref="ufcg">Bachelor @ UFCG</a></li>
  <li><a ui-sref-active="active" ui-sref="lsd">Research @ LSD</a></li>
  <li><a ui-sref-active="active" ui-sref="splab">Research @ SPLab</a></li>
  <li><a ui-sref-active="active" ui-sref="contact">Contact</a></li>
  <!--li class="right"><a ui-sref-active="active" ui-sref="about">About</a></li-->
</ul></nav>
