
nav.main-nav {
  @include prefix((
    position: sticky !important
  ));
  top: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: $primary-color;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
      font-size: 0.7rem;

      &.right {
        float: right;
      }

      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: $primary-color;

        &:hover:not(.active) {
          background-color: lighten($primary-color, 20);
        }

        &.active {
          background-color: $quaternary-color;
        }
      }

      .dropdown-content {
        display: none;
        position: fixed;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
      }

      //&.dropdown:hover .dropdown-content,
      &.active .dropdown-content {
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: 600px){
  nav.main-nav {
    position: relative !important;

    ul li.right, ul li {
      float: none;
      font-size: 1rem;
    }

    .dropbtn {
      clear: both;
      display: none;
    }

    .dropdown-content {
      display: block !important;
      position: static !important;
    }
  }
}
