<nav class="main-nav" role="navigation"><ul>
  <li><a ui-sref-active="active" ui-sref="home">Home</a></li>
  <li id="dropdown-work" class="dropdown">
    <a class="dropbtn" onclick="return true">Work Experience</a>
    <div class="dropdown-content">
      <a ui-sref-active="active" ui-sref="virtus">Work @Virtus</a>
      <a ui-sref-active="active" ui-sref="petitcode">Work @PetitCode</a>
    </div>
  </li>
  <li id="dropdown-research" class="dropdown" onclick="return true">
    <a class="dropbtn">Research</a>
    <div class="dropdown-content">
      <a ui-sref-active="active" ui-sref="tud">Exchange @ TUD</a>
      <a ui-sref-active="active" ui-sref="lsd">Research @ LSD</a>
      <a ui-sref-active="active" ui-sref="splab">Research @ SPLab</a>
    </div>
  </li>
  <li><a ui-sref-active="active" ui-sref="ufcg">Bachelor @ UFCG</a></li>
  <li><a ui-sref-active="active" ui-sref="portfolio">Portfolio 2018</a></li>
  <li class="right"><a ui-sref-active="active" ui-sref="contact">Contact</a></li>
</ul></nav>
